/* 
    Document   : ReferenceForNamingConvention
    Created on : Aug 23, 2012, 8:04:06 PM
    Author     : TempAdmin
    Description:
        Purpose of the stylesheet follows.
*/

/*

TextBox             TxtBx
TextBlock           Txt
Button              Btn
HyperLinkButton     HyBtn
ComboBox            Cmb
ListBox             Lsb 
CheckBox            Chk
RadioButton         Rdb
Grid                Grd
Map                 Map
MediaElement        MedEle
PasswordBox         PwdBx
Progressbar         ProBr
Rectangle           Rect
ScrollViewer        SclVwr
Slider              Sdr
WebBrowser          WebBwr
Pivot               Pvt
Panorama            Prm
MultiScaleImage     MSImg
Popup               Pup
ToggleButton        TglBtn
Image               Img
Border              Brd
Canvas              Cvs
Ellipse             Eps
StackPanel          StPan
Panel               Pan
WrapPanel           WrpPan
ContextMenu         CtM
DatePicker          DtPc
LongListSelector    LLS
ListPicker          LsP
TimePicker          TmPc

*/



